.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100wh;
  font-family: sans-serif;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Uploadf {
  align-items: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

p {
  font-size: 16px;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Poppins medium */
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Poppins bold */
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Poppins extra bold */
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-image: url("https://images.hdqwalls.com/download/geometric-material-yellow-blue-4k-18-2048x1152.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}
.App {
  background-image: url("https://images.ctfassets.net/92msd2z72mb1/1PoKT4aPYP51JffY0ROHhv/627fa97ea397c65ad0117dae2da0db54/Metaverse-Thumbnail.gif");
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.716);
}
.sect {
  height: 100%;

  isolation: isolate;
}
.sect::after {
  content: "";

  z-index: -1;
  inset: 0;
  background: rgb(88, 139, 202);
  opacity: 0.3;
}
.inter {
  background-image: linear-gradient(
    rgba(80, 142, 212, 0.921),
    rgba(157, 129, 213, 0.74)
  );
}
.leftbar {
  height: 100%;
  width: 250px;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}
h6,
h4,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 29px;
  color: #555;
}

.login-account {
  float: left;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitter-bg {
  background: #9f1df0;
}
.btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 70px;
  padding: 19px 40px;
  border: none;
  cursor: pointer;
}
.Ser {
  float: left;
  width: 100%;
  margin-top: 40px;
}
.twitter-bg.btn:hover {
  background: #9f1df0;
}
.btn img {
  float: left;
  width: 25px;
  margin-right: 10px;
}
.twitter-main {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.leftbar {
  min-width: 250px;
  max-width: 250px;
}
.logo {
  float: left;
  position: relative;
  top: 20px;
  right: 14px;
  width: 100%;
  padding-top: 35px;
  padding: 20px 65px;
  margin-bottom: 15px;
  transform: scale(1.8);
}
.logo a {
  float: left;
  width: 100%;
}
.logo a img {
  float: left;
  width: 50px;
}
.leftbar nav {
  float: left;
  width: 100%;
}
.leftbar nav ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.leftbar ul li {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}
.leftbar ul li a:hover {
  background: #eee;
}
.leftbar nav ul li a svg {
  float: left;
  width: 20px;
  margin-right: 11px;
}
.leftbar nav ul li a {
  float: left;
  text-decoration: none;
  color: #000;
  padding: 11px 15px;
  border-radius: 50px;
  margin-left: -15px;
  line-height: 30px;
  font-size: 18px;
}
.leftbar nav ul li button:hover {
  background: #eee;
}
.leftbar nav ul li button svg {
  float: left;
  width: 30px;
  margin-right: 11px;
}
.leftbar nav ul li button {
  float: left;
  text-decoration: none;
  color: #000;
  padding: 11px 15px;
  border-radius: 50px;
  margin-left: -15px;
  line-height: 30px;
  font-size: 18px;
  background-color: #fff;
  border: none;
}

.leftbar .twitter-bg.btn {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  float: left;
}
.add-tweet > img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.add-tweet .tweet-form {
  padding-left: 30px;
}
.add-tweet .tweet-form form {
  float: left;
  width: 100%;
}
.add-tweet .tweet-form form textarea {
  float: left;
  width: 100%;
  border: 1px solid #e8ecec;
  border-radius: 20px;
  padding: 20px 20px;
}
.add-tweet .tweet-form form input {
  float: left;
  width: 100%;
  border: 1px solid #e8ecec;
  border-radius: 20px;
  padding: 14px 20px;
  font-size: 16px;
  margin-bottom: 9px;
}
.center {
  border-left: 1px solid #e8ecec;
  float: left;
  width: 100%;
}
.add-tweet {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  padding: 0 50px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e8ecec;
  padding-bottom: 40px;
}
.all-tweets {
  float: left;
  width: 100%;
}
.all-tweets ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.all-tweets ul li {
  float: left;
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid #e8ecec;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.tweet-list {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: revert;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 13px;
}
.tweet-list > img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tweet-list .tweet-content {
  float: left;
  width: 100%;
  padding-left: 20px;
}

.search-tweet {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 20px 0;
}

.search-tweet input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.search-tweet button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.search-tweet button svg {
  fill: #ccc;
  height: 20px;
  width: 20px;
}

.search-tweet button:hover svg {
  fill: #1da1f2;
}

.trendings {
  float: left;
  width: 100%;
  border-radius: 30px;
  background: #f5f5f5;
  padding: 30px 30px;
  margin-top: 30px;
}
.trendings h3 {
  float: left;
  width: 100%;
  font-size: 19px;
}
.trendings a {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e8ecec;
  text-decoration: none;
  padding: 12px 0;
  color: #000;
}
.trendings a strong {
  font-weight: 600;
}
.trendings a span {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #666;
}
.search-tweet form input {
  float: left;
  width: 100%;
  border: none;
  background: #f5f5f5;
  padding: 16px 30px;
  font-size: 15px;
  border-radius: 50px;
}
.tweet-content p {
  float: left;
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}
.tweet-actions {
  float: left;
  width: 100%;
  border-top: 1px solid #e8ecec;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  padding-top: 13px;
}
.tweet-actions a,
.tweet-actions button {
  float: left;
  color: #000;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.tweet-actions a svg,
.tweet-actions button svg {
  float: none;
  width: 18px;
  margin-top: 0;
  margin-right: 6px;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  top: 3px;
}
.add-tweet .tweet-form .btn {
  padding: 9px 22px;
  float: right;
  margin-top: 12px;
  margin-left: 1rem;
}
.rightbar {
  min-width: 400px;
  max-width: 400px;
}
.tweet-list.thread {
  border-top: 1px solid #e8ecec;
  padding-top: 20px;
  margin-top: 0;
  background: #f5f5f5;
}
.tweet-actions a:hover,
.tweet-actions button:hover {
  color: #9f1df0;
}
.tweet-actions a:hover svg,
.tweet-actions button:hover svg {
  fill: #9f1df0;
}
.add-tweet.reply-tweet {
  flex-direction: column;
  background: #f5f5f5;
  margin-top: 0;
  padding-bottom: 20px;
  position: relative;
}
.add-tweet.reply-tweet > span {
  font-size: 14px;
  margin-top: 19px;
}
.add-tweet.reply-tweet > span a {
  text-decoration: none;
  color: #000;
}
.add-tweet.reply-tweet .tweet-form {
  padding: 0;
  margin-top: 10px;
}
.add-tweet.reply-tweet::before {
  position: absolute;
  left: 42px;
  top: -17px;
  border-bottom: 23px solid #f5f5f5;
  border-left: 23px solid transparent;
  border-right: 0px solid transparent;
  content: "";
}
.tweet-list.thread > img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.tweet-list.thread .tweet-content > span {
  font-size: 13px;
  float: left;
  margin-bottom: 14px;
  color: #666;
}
.tweet-list.thread .tweet-content > span a {
  color: #000;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"],
button[type="submit"] {
  margin-top: 1rem;
}
.like {
  position: relative;

  left: 500px;
  bottom: 20px;
}
.Buy button {
  background-color: #31afb1bd;
  border: #878787;
  color: white;
  padding: 12px 24px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  position: relative;
  left: 710px;
  bottom: 11px;
  vertical-align: text-top;
}
.gh {
  border: 1px solid #000000;

  position: relative;
  margin-left: 500px;
  margin-right: 500px;
}

.giff {
  background-size: auto;
  color: white;
}
.prof {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 20px;
  justify-content: space-around;
  display: grid;
}
.h2t {
  padding-bottom: 200px;
  text-align: center;
  font-family: "sans-serif";
  font-size: 3rem;
}
.wallett {
  padding-bottom: 300px;
}
.loggo {
  background-position: relative;
  width: 33%;
}
.deal {
  color: white;
  background-image: url("https://wallpapers.com/images/hd/4k-bitcoin-1920-x-1080-ebui85i7rs22frrf.jpg");
}
.Auc {
  color: rgb(246, 246, 5);
}
.timr {
  color: yellow;
}
.timrr {
  color: red;
}
.bdr {
  color: white;
}
.bdrad {
  color: rgb(235, 5, 235);
}
.bdrr {
  margin-left: 137px;
  position: relative;
  bottom: 22px;
}
.trn {
  color: rgb(235, 5, 235);
}
.trns {
  position: relative;
  margin-left: 377px;
  bottom: 23px;
}
.mintit {
  position: relative;
  left: 1250px;
  bottom: 100px;
}
.img-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.img-ctr img {
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.transactiosn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.transactiosn a {
  font-weight: bold;
  text-decoration: none;
  color: #2980b9;
}

.transactiosn a:hover {
  color: #3498db;
}

.formerr {
  display: flex;
  justify-content: center;
}

.choose {
  margin: 20px 0;
}

.btmn {
  background-color: #2980b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btmn:hover {
  background-color: #3498db;
}
.minttt {
  color: yellow;
  font-size: large;
  font-family: "Lucida Sans";
}
.leftbar {
  height: 100%;
  position: fixed;
  flex: 3;
}
.newww {
  position: relative;
  left: 1310px;
  bottom: 80px;
}

.mintit {
  position: relative;
  bottom: 170px;
}
.Buyyyy button {
  display: flex;
  position: relative;
  bottom: 240px;
  left: 1280px;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: #8c56ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.Buyyyy button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #6b36e0;
}

.Buyyyy button svg {
  margin-right: 10px;
}

.trendings {
  position: fixed;

  width: 350px;
  top: 80px;
  right: 5px;

  padding: 20px;
  background-color: rgba(243, 239, 4, 0.836);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.trendings h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.trendings a {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #070000;
  text-decoration: none;
}

.trendings a span {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #fffcfc;
}
.leftbar {
  left: 10px;
}
